<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <h1 style="text-align: center">Preview</h1>
      </div>
      <div class="row" style="border: solid 1px black">
        <div class="col-6">
          <h3>Cliente: {{component ? component.client.firstName : clientNameField?.value}}</h3>
        </div>
        <div class="col-6" >
          <h3>Fecha: {{formatDate(component ? component.componentEntry.entryDate : dateField?.value)}}</h3>
          <h4>Hora: {{component ? '' :  hourField?.value}}</h4>
        </div>
      </div>
      <div class="row mt-3" style="border: solid 1px black" >
        <div class="col-12">
          <h3 style="text-align: start; font-weight: bold"> Datos del componente</h3>
        </div>
        <div class="col-12">
          <p> Tipo:  <span style="color:#000;">{{component ? component.type : componentTypeField?.value}}</span></p>
        </div>
      </div>
      <div class="row mt-3" style="border: solid 1px black">
        <ul>
          <h3 style="text-align: start; font-weight: bold">Descripcion e inventario de partes.</h3>
          <ng-container *ngIf="component">
            <ng-template *ngFor="let inventory of component.componentEntry.inventory">
              <li>
                {{inventory.code}}
              </li>
            </ng-template>
          </ng-container>

          <ng-container *ngIf="!component">
            <ng-template *ngFor="let control of inventoryFields.controls">
              <li *ngIf="control.get('checked')?.value">
                {{control.get('name')?.value}}
              </li>
            </ng-template>

          </ng-container>
        </ul>
      </div>
      <div class="row mt-3" style="border: solid 1px black" >
        <div class="col-12">
          <h3 style="text-align: start; font-weight: bold"> Observaciones</h3>
        </div>
        <div class="col-12">
          <p>  <span style="color:#000;">{{component ? component.componentEntry.observation : observationsField?.value}}</span></p>
        </div>
      </div>
      <div class="row mt-3" style="border: solid 1px black">
        <div class="col-12">
          <h3 style="text-align: start; font-weight: bold"> Imagenes</h3>
        </div>
        <div class="col-12">
          <ngb-carousel *ngIf="files && files.length > 0">
            <ng-container *ngFor="let file of files">
              <ng-template ngbSlide *ngIf="file.checked">
                <div class="picsum-img-wrapper" style="width: 100%; height: 400px">
                  <img [src]="file.blob" alt="Item Image" style="width: 100%"/>
                </div>
                <div class="carousel-caption" style="color: black">
                  <h3>{{file.name}}</h3>
                  <p>Descripcion</p>
                  <p>Observacion</p>
                </div>
              </ng-template>
            </ng-container>
          </ngb-carousel>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>
