<div class="overlay_header"></div>
<mat-toolbar>
  <mat-toolbar-row>
    <div class="col" style="display: inline">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon >menu</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container #sidenavContainer id="sidenavContainer" class="mat-elevation-z8">
  <mat-sidenav #sidenav mode="side" style="width: 20%">
    <mat-nav-list>
      <app-admin-menu [sidenav]="sidenav"></app-admin-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
