<div class="overlay_header"></div>
<mat-toolbar>
  <mat-toolbar-row>
    <div class="col" style="display: inline">
      <button mat-icon-button>
        <mat-icon (click)="openSideNav()">menu</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container #sidenavContainer id="sidenavContainer" class="mat-elevation-z8">
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a id="component-entry-link"
         (click)="sidenav.close()"
         [routerLink]="'/admin/component-entry'"
         mat-list-item
         routerLinkActive="active"
      >
        <mat-icon aria-hidden="false" aria-label="Icon">list</mat-icon>

      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
