<mat-list-item>
  <button  mat-icon-button
           routerLinkActive="active"
           [matMenuTriggerFor]="componentEntryMenu"
  style="font-size: 1.0rem">
    <mat-icon>arrow_circle_right</mat-icon>
    Entrada de componentes
  </button>
  <mat-menu #componentEntryMenu>
    <button id="component-entry-create-link"
       (click)="sidenav.close()"
       [routerLink]="'/admin/component-entry/create'"
       routerLinkActive="active"
       mat-menu-item>
      <mat-icon>add</mat-icon>
      crear entrada
    </button>
    <button id="component-entry-list-link"
            (click)="sidenav.close()"
            [routerLink]="'/admin/component-entry/list-all'"
            routerLinkActive="active"
            mat-menu-item>
      <mat-icon>list</mat-icon>
      listar entradas
    </button>
  </mat-menu>

</mat-list-item>
<div>
  <a id="component-evaluate-link"
     (click)="sidenav.close()"
     [routerLink]="'/admin/component-entry'"
     mat-list-item
     routerLinkActive="active"

  >
    <mat-icon>
      <span>category</span>
    </mat-icon>
    <span>Evaluacion general</span>
  </a>
</div>
<div>
  <a id="component-cost-link"
     (click)="sidenav.close()"
     [routerLink]="'/admin/component-entry'"
     mat-list-item
     routerLinkActive="active"

  >
    <mat-icon>
      <span>paid</span>
    </mat-icon>
    <span>Relacion de costos</span>
  </a>
</div>
<div>
  <a id="component-order-link"
     (click)="sidenav.close()"
     [routerLink]="'/admin/component-entry'"
     mat-list-item
     routerLinkActive="active"

  >
    <mat-icon>
      <span class="material-symbols-outlined">
      receipt
      </span>
    </mat-icon>
    <span>Cotizacion</span>
  </a>
</div>

<div>
  <a id="component-inventory-link"
     (click)="sidenav.close()"
     [routerLink]="'/admin/component-entry'"
     mat-list-item
     routerLinkActive="active"

  >
    <mat-icon>
      <span class="material-symbols-outlined">
      inventory
      </span>
    </mat-icon>
    <span>Inventario</span>
  </a>
</div>
