<div>
  <a id="component-entry-link"
       (click)="sidenav.close()"
       [routerLink]="'/admin/component-entry'"
       mat-list-item
       routerLinkActive="active"

    >
    <mat-icon>
      <span>arrow_circle_right</span>
    </mat-icon>
    <span>Entrada de componentes</span>
  </a>
</div>
<div>
  <a id="component-evaluate-link"
     (click)="sidenav.close()"
     [routerLink]="'/admin/component-entry'"
     mat-list-item
     routerLinkActive="active"

  >
    <mat-icon>
      <span>category</span>
    </mat-icon>
    <span>Evaluacion general</span>
  </a>
</div>
<div>
  <a id="component-cost-link"
     (click)="sidenav.close()"
     [routerLink]="'/admin/component-entry'"
     mat-list-item
     routerLinkActive="active"

  >
    <mat-icon>
      <span>paid</span>
    </mat-icon>
    <span>Relacion de costos</span>
  </a>
</div>
<div>
  <a id="component-order-link"
     (click)="sidenav.close()"
     [routerLink]="'/admin/component-entry'"
     mat-list-item
     routerLinkActive="active"

  >
    <mat-icon>
      <span class="material-symbols-outlined">
      receipt
      </span>
    </mat-icon>
    <span>Cotizacion</span>
  </a>
</div>

<div>
  <a id="component-inventory-link"
     (click)="sidenav.close()"
     [routerLink]="'/admin/component-entry'"
     mat-list-item
     routerLinkActive="active"

  >
    <mat-icon>
      <span class="material-symbols-outlined">
      inventory
      </span>
    </mat-icon>
    <span>Inventario</span>
  </a>
</div>
